.Login-container {
  
  display: flex;
  flex-direction: column;
  width: inherit;
  margin-top: 25vh;
  font-size: 2rem;

  .Register{
    margin-top: -10vh;
  }
  .Card {
    padding: 20px 20px;
    background-color: #f8f9fa;
    margin-bottom: 15vh;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.3);
    border-radius: 12px;


    .Header {
      float: left;
      width: 33%;
      padding: 10px;
      margin-bottom: 1rem;
    }

  }
  .Login {
    display: flex;
    flex-direction: column;

    padding: 10px 50px;
    width: 100% !important;

    h2 {
      align-self: flex-start;
    }

  }

  .Formgroup {
    display: flex;
    flex-direction: column;
    .label {
      align-self: start;
    }
  }

  .text-area {
    height: 250px;
  }
  .Submit-mobile {
    display: none !important
  }




  
}

@media (max-width: 732px){

  .Login-container{

    margin-top: 10vh;
    font-size: 1.5rem;

    .Register{
      margin-top: 0vh;
    }

    .Header {
      width: 25%;
      padding: 10px;
    }

    .Login {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      margin-top: 10vh;
      padding: 30px 40px;
      width: 80%;
    }

    .Card {
      padding: 20px 20px;
      margin-bottom: 15vh;
      box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.3);
      border-radius: 12px;

      .Header {
        width: 50%;
        padding: 10px;
        margin-bottom: 1rem;
      }
    }

    .Submit-mobile {
      display: inline !important;
    }
    .Submit-desktop {
      display: none !important;
    }
  }
}