.map1header {
    order: 0;
  }
  
.map1component {
  box-shadow: 14px 14px 14px 14px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.leaflet-container {
  box-shadow: 24px 4px 14px 14px rgba(0, 0, 0, 0.3);
  height: 60vh;
  width: 100%;
}


.filterHours {
  position: absolute;
  top: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  height: 30vh;
  opacity: .8;
  background: hsla(0,100%,100%,0.8);
  margin: 10px;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: 13px;
  padding: 5px;
  padding-bottom: 10px;
  padding: 20px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.3);
  border-radius: 12px;

  .Header-container{
    .Header {
      padding: 20px 20px;
      box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.3);
      border-radius: 12px;
      height: 5vh;
      margin-top: -5vh;
      width: 75%;
      padding: 10px;
      margin-bottom: .5rem;
      font-size: 1.5rem;
    }
  }
  h3 {
    margin-top: 0;
    padding-left: 5px;
  }
  p {
    padding-left: 5px;
  }
  .p-mobile {
    display: none;
  }
  .fil
  select {
    display: block;
    margin: 0 auto;
  }
}

.leaflet-container path{ 
  transition: fill .75s;
}
.filterHours hr {
  border: 1px solid #000;
  margin: 5px;
}


// Tablet sizing
  @media (max-width: 732px){
    .filterHours {
      top: 40vh;
      height: 20vh;
      
    .Header-container{
      .Header {
        display: none;
      }
    }

    .Button {
      padding-top: 10px;
    }

    }
  }

// Phone sizing
  @media (max-width: 432px){
    .filterHours {
      top: 30vh;
      height: 23vh;
      font-size: 16px;
    hr {
      display: none;
    }
    h3 {
      display: none;
    }
    p {
      display: none;
    }
    .p-mobile {
      display: flex;
    }
    .Header-container{
      .Header {
        display: none;
      }
    }

    .Button {
      padding-top: 10px;
    }

    }
  }

