.landingpage {
  width: 100%;
}
a:hover{
  color: black !important;
  text-decoration: none !important;
}


.landingsection {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  width: 100%;
  height: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  .section-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

      .title {
        background-color: #1f2021;
        color: #f4f4f4;
        padding: 1rem 2rem;
        border-color: #111 !important;
        font-size: 2rem;
        letter-spacing: 8px;
        text-transform: uppercase;
        margin: 2rem auto;
      }
      .body {
        background-color: #1f2021;
        height: 100%;
        color: #f4f4f4;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
        // letter-spacing: 4px;
      }
  }
}

@media (max-width: 732px){
  .landingsection {
    .section-content {
        .title {
          font-size: 1.5rem;
          margin: 0 1rem;
          overflow: hidden;
        }
        .body {
          font-size: 1rem;
          overflow: hidden;
        }
    }
  }
}



/* 

Styling for individual background images

*/
// .default {
//   background-color: #f4f4f4;
//   height: 33vh;
// }

.main {
  background-image: url('../../assets/images/20277.jpg')  !important;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  height: 84vh !important;
}
.map-header {
  background-image: url('../../assets/nyc3.svg')  !important;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  height: 50vh;
}
.map-body {
  height: 15vh;
}
.chart-header {
  background-image: url('../../assets/images/file-01.svg')  !important;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  height: 50vh;
}
.chart-body {
  height: 15vh;
}
.login {
  height: 40vh;
  background: #1f2021;
}
