
.section {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


a:hover { color: none !important; }

.section-dark {
  background: #333;
  color: white;

}
.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  font-size: 1.3rem;
  justify-content: space-between;
}

.section-text {
  position:relative;
  text-align: center;
  color: #000;
  margin-bottom: 5vh;
}

.section-text .border-title {
  background-color: #111;
  color: #fff;
  padding: 20px;
  border-color: #111 !important;
  font-size: 37px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.section-text .border {
  background-color: #111;
  color: #fff;
  padding: 5vh;
  border-color: #111 !important;
  font-size: 25px;
  letter-spacing: 4px;
}

.section h1 {
    font-size: 4rem;
}

.centertitle {
  padding-top: 4vh !important;
}

.headertitle {
  height: 84vh !important;
}

.notextstyle {
  height: 33vh; 
  letter-spacing: 1px !important;
}

.nostyle {
  display: none !important;
}

.nobody {
  display: none !important;
}

.chartimg {
  background-image: url('./images/05.svg')  !important;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}
.taxis {
  background-image: url('./images/20277.jpg')  !important;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}
.mapimg {
  background-image: url('./images/img4.JPG')  !important;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}
