.myfooter {
    background: #F0EAD6;
    padding-top: 5vh;
    padding-bottom: 10vh;
    box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.3);
    z-index: 100000;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 10vh;

}