.Contact {
    height: 40vh;
    margin-top: 10vh;
  }

  .Contact-header {
      margin-bottom: 5vh !important;
  }

  .Contact-button {
    margin-top: 5vh !important;
}

.messagetext {
  font-size:12pt;
  height:20em !important;
  width: 20em !important;
  margin-bottom: 50px;
}