.mapindex {
    width: 100%;
    
    a:hover {
        text-decoration: none;
      }


}


@media (max-width: 732px){

  .mapsection-text .border-title {
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-color: #111 !important;
    font-size: 27px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  }

  @media (max-width: 532px){

    .mapsection-text .border-title {
      background-color: #111;
      color: #fff;
      padding: 8px;
      border-color: #111 !important;
      font-size: 18px;
      text-transform: uppercase;
    }
  
    }
